body{
    background: #007fc7;
}
#container{
    border-radius: 10px;
    background: white;
    width: 800px;
    margin: 10px auto;
    padding: 10px;
}
h1{
    /*
    position: static;
    */
}
p{
    width: 300px;
    /*
    position:static;
    position: absolute;
    */
}
.relative{
    border: 2px solid red;
    position: relative;
    /*
    top, rigth, bottom, left
    */
    bottom: -20px;
    
}