body{
    background: #007fc7;
}
#container{
    border-radius: 10px;
    background: white;
    width: 800px;
    margin: 10px auto;
    padding: 10px;
    position: relative;
}
h1{
    /*
    position: static;
    */
}
p{
    width: 300px;
}
/*.relative{
    position: relative;
    /*
    top, rigth, bottom, left
    
    bottom: -20px;
    
}*/
/*.absolute{
    position: absolute;
    background: #f2f2f2;
    border: 1px solid red;
    top: 80px;
    right: 80px;}*/

    /*Sempre vai ser possicionado baseado no container*/

.fixed{
    border: 1px solid red;
    margin: 0px;
    background: #f2f2f2;
    position: fixed;
    bottom: 0px;
    right: 0px;
}